    <div class="container">
      <div class="jumbotron text-center">
        <h1><!--span class="fa fa-lock"></span-->Welcome to <br>{{ title }}</h1>
        <br>
        <h3>We built this site to assist gun enthusiats in determining wait times at gun ranges.</h3>
        <h4 class="text-success">If you are like me, it would be great to look online via your iPhone to determine what the wait
            time is at your local range. The app also allows registered users to enter the current wait time
            from the range helping others gun enthusiats.</h4>
        <h4 class="text-success">I built this site as a hobby in the hopes of helping others and also in the hopes of further
              connecting the gun community. If you have suggestions or comments on what you would like to see
              added to this app, please email me and let me know.</h4>
        <h4 class="text-success">Sincerly</h4>
        <address>
          <strong>Gil Zaldivar</strong><br>
          <a href="mailto:#">gzaldivar@icloud.com</a>
        </address>
      </div>
    </div>
