<div class="row">
  <div class="alert alert-info">
    <h4 ng-model="errorMessage">{{errorMessage}}</h4>
  </div>
</div>
<ng-form name="addrange" novalidate>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="rangename">Range Name:</label>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-3">
      <input type="text" ng-model="range.name" class="form-control" required>
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="number">Number:</label>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-3">
      <input type="text" ng-model="range.addressNumber" class="form-control" maxlength="10" ng-keypress="numberValue($event)">
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="street">Street:</label>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-3">
      <input type="text" ng-model="range.street" class="form-control">
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="city">City:</label>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-3">
      <input type="text" ng-model="range.city" class="form-control">
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="State">State:</label>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-3">
      <div class="dropdown-container" ng-class="{ show: listVisible }">
        <select ng-model="range.state" class="form-control">
          <option ng-repeat="x in states" value="{{x.abbreviation}}">{{x.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="Zip">Zip:</label>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-3">
      <input type="text" ng-model="range.zip" class="form-control" maxlength="5" ng-keypress="numberValue($event)">
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="phone">Phone:</label>
    </div>
    <div class="col-xs-1">
      <input type="text" name="areacode" maxlength="3" ng-model="range.areacode" ng-keypress="numberValue($event)" class="form-control" placeholder="000"/>
    </div>
    <div class="col-xs-1">
      <input type="text"  name="prefix" maxlength="3" ng-model="range.prefix" ng-keypress="numberValue($event)" class="form-control" placeholder="000"/>
    </div>
    <div class="col-xs-1">
      <input type="text"  name="number" maxlength="4" ng-model="range.number" ng-keypress="numberValue($event)" class="form-control" placeholder="000"/>
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="Type">Type:</label>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-3">
      <div class="dropdown-container" ng-class="{ show: listVisible }">
        <select ng-model="range.rangetype" class="form-control">
          <option ng-repeat="x in rangetypes" ng-selected="range.selectedtype == x" value="{{x}}">{{x}}</option>
        </select>
      </div>
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="Website">Website:</label>
    </div>
    <div class="col-xs-4 col-sm-2 col-md-3">
      <input type="text"  name="url" ng-model="range.url" class="form-control" placeholder="http://">
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="Pistol">Pistol:</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <input type="text" ng-model="range.pistolstalls" class="form-control" maxlength="3" ng-keypress="numberValue($event)">
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="Rifle">Rifle:</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <input type="text" ng-model="range.riflestalls" class="form-control" maxlength="3" ng-keypress="numberValue($event)">
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="Shotgun">Shotgun:</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <input type="text" ng-model="range.shotgunstalls" class="form-control" maxlength="3" ng-keypress="numberValue($event)">
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="PistolStallLength">Length (ft):</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <input type="text" ng-model="range.pistolStallLength" class="form-control" maxlength="3" ng-keypress="numberValue($event)">
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="RifleStallLength">Length (ft):</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <input type="text" ng-model="range.rifleStallLength" class="form-control" maxlength="3" ng-keypress="numberValue($event)">
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <label for="ShotgunStallLength">Length (ft):</label>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <input type="text" ng-model="range.shotgunStallLength" class="form-control" maxlength="3" ng-keypress="numberValue($event)">
    </div>
  </div>
  <p>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h3 class="text-info">Or .... Enter the total number of stalls if they are used for all firearms.</h3>
      </div>
    </div>
    <p>
    <div class="row">
      <div class="col-xs-2 col-sm-1 col-md-2">
        <label for="All">All:</label>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
        <input type="text" ng-model="range.allstalls" class="form-control" maxlength="3" ng-keypress="numberValue($event)">
      </div>
    </div>
    <p>
    <div class="row">
      <div class="col-xs-2 col-sm-1 col-md-2">
        <label for="AllStallLength">All (ft):</label>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
        <input type="text" ng-model="range.allStallLength" class="form-control" maxlength="3" ng-keypress="numberValue($event)">
      </div>
    </div>
  </div>
  <p>
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-2">
      <button class="btn btn-primary btn-lg" ng-click="addnewrange(range)" >Submit</button>
    </div>
    <div class="col-xs-2 col-sm-1 col-md-2">
      <button ui-sref="search" class="btn btn-info btn-lg">Back</a>
    </div>
  </div>
</ng-form>
