<!-- views/partials/footer.ejs -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="#">
            <p class="text-center text-muted">© Copyright 2017 Gilbert Zaldivar</p>
        </a>
      </ul>

  </div>
</nav>
