<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <div ng-if="!!user">
              <a class="navbar-brand" ui-sref="search">{{ title }}</a>
            </div>
            <div ng-if="!user"}>
              <a class="navbar-brand" ui-sref="home">{{ title }}</a>
            </div>


        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a ui-sref="search" ng-show="user">Menu</a></li>
            <li><a ui-sref="about">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              <li><a ng-show="user" ui-sref="profile" ng-click="userprofile()">{{ username }}</a></li>
            </ul>
          </ul>
       </div>
    </div>
</nav>
