<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
          <% if (user) { %>
            <a class="navbar-brand" href="/rangemenu">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              <%= title %>
            </a>
          <% } else { %>
            <a class="navbar-brand" href="/">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              <%= title %>
            </a>
          <% } %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/rangemenu">Menu</a></li>
            <li><a href="/about">About</a></li>
          </ul>

          <% if ( user != null) { %>
            <ul class="nav navbar-nav navbar-right">
              <ul class="nav navbar-nav">
                <li><a href="/logout">Logout</a></li>
              </ul>
              <!--li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.facebook.name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Logout</a></li>
                </ul>
              </li-->
            </ul>
          <% } %>
      </div>
    </div>
</nav>
<div class="container-fluid">
  <div class="row>">
    <div class="col-xs-12 col-sm-6 col-md-8"></div>
    <div class="col-xs-6 col-md-4">
      <% include usertest %>
    </div>
  </div>
</div>
