<div class="row">
  <div class="col-xs-8 col-sm-4 col-md-6">
    <h2 class="text-primary">Search for a range nearby:</h2>
  </div>
  <div class="col-xs-6 col-md-4">
    <a ui-sref="search">
      <button class="btn btn-primary btn-lg btn-block" >Search</button>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-4 col-md-6">
    <h2 class="text-primary">Add a new range:</h2>
  </div>
  <div class="col-xs-6 col-md-4">
    <a ui-sref="addrange">
      <button type="button" class="btn btn-primary btn-lg btn-block">Add</button>
    </a>
  </div>
</div>
