<html>
<head>
  <% include partials/head %>
</head>
<body class="container" ng-app="routerApp">

<header>
  <% include partials/header %>
</header>

<script>
var env = {};

// Import variables if present (from env.js)
if(window){
  Object.assign(env, window.__env);
}
</script>

<script src="/javascripts/app.js"></script>
<script src="/javascripts/rangecontrollers.js"></script>
<script src="/javascripts/rangefactories.js"></script>

<div class="container">

    <div class="row">
      <div ui-view></div>
    </div>

    <p>
    <footer>
        <% include partials/footer %>
    </footer>

</div>
</body>
</html>
